@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="text-primary" aria-labelledby="aspnetTitle">
        <h1 id="title">Northwind -sovellus</h1>
        <p class="lead">Powered by SQL Azure</p>
    </div>

</main>